/* set background image for body */
body {
    min-height: 100vh;
    background-image: url("images/background.jpeg");
    background-position: center;
    background-size: cover;
}

/*  all navbars (top and bottom) font and background color */
.navbar {
    font-family: 'Julius Sans One', sans-serif;    
    background-color: rgb(0, 138, 196);
}

/* spacing of top navbar  */
.navbar-expand-md {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* heading of top navbar */
.navbar-text {
    background-color:#fafdff;
    padding: 15px;
    color: #333;
    font-size: 32px;
    font-weight: bold;

}

/* colour of links of lists white */
li a {
    color: white;
}

/* active item on navbar */
.nav-item.active {
    font-weight: bold;
}

/* override the bootstrap css for margings and padding - has to be # */
#about-spacing {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* override the bootstrap css for margings and padding - has to be # */
#portfolio-spacing {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* override the bootstrap css for margings and padding - has to be # */
#contact-spacing {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}







/* GENERAL  */

/* space around content */
.container {
    width: 85%;
    font-family: 'Montserrat', sans-serif;
    background-color: #fafdff;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    /* margin around container - set as % so it changes with screen size - no need to specify in media queries */
    margin-left: 7.5%;
    margin-right: 7.5%;
}

/* format the title of each page contents */
.page-heading {
    text-align: left;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 46px;
    /* position in middle of it's row  */
    vertical-align: middle;
    /* border line for page heading */
    padding-bottom: 30px;
    border-bottom: 4px solid rgb(0, 138, 196);
    margin-bottom: 40px;
    
}



/* ABOUT PAGE */

/* image on about me page */
.index-image {
    /* set image width to 100% of container... */
    width: 100%;
    /* ... up to 450px */
    max-width: 450px;
    /* float it left */
    float: left;
    /* padding for the image */
    padding-right: 30px;
    padding-bottom: 20px;
}

/* used for social media links in index */
h5 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 24px;
}

/* colouring of Social media links */
.fab {
    color: rgb(0, 138, 196);
}




/* PORTFOLIO PAGE */

/* spacing between images in portforlio- when compressed window spacing is between each image */
.col-md-6 {
    padding-bottom: 40px;
}

/* text overlaying portfolio images */
.card-title {
    color: black;
    font-weight: bold;
    background-color: rgb(0, 138, 196);
    opacity: 0.8;
    text-align: center;
    margin: 0px;
}




/* CONTACT PAGE */

/* button to submit contact form */
.btn {
    background-color:rgb(0, 138, 196);
    color: white;
}




/* FOOTER */

/* formatting the footer */
.footer-copyright {
    border-top: 15px solid white;
    color: white;
    font-weight: bold;
    position: sticky;
    top: 0;
}
    


/* MEDIA QUERIES */

/* collapsed navbar occurs on ANY SCREEN 767 OR SMALLER */
@media (max-width: 767.98px) {
    .navbar-text {
        /* block - new line */
        display: block;
        /* fill background colour to edge of view window */
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }

    .navbar-expand-md {
        /* stacked navbar - elimitating padding from navbar - otherwise background colours around brand are wrong */
        padding-left: 0px;
        padding-right: 0px;
    }
} 

/* any screen 980 or larger */
 @media screen and (min-width: 980px) {
    .container {
        /* stop container filling screen on larger screens  */
        width: 66%;
    }
 }


