* {
    font-family: 'Julius Sans One', sans-serif;
}

.navbar-text {
    background-color: lightgray;
    padding: 15px;
    color: #333;
    font-size: larger;
    font-weight: bold;
    margin-left: 30px;

}

.navbar.navbar-expand-md {
    background-color: mediumaquamarine;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav-link {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}


.border-left {
    border-left: solid 2px white;
    padding-left: 20px;
}

.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }

.container {
    background-color: lightgray;
    padding: 30px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.btn {
    background-color:lightgray;
    margin-left: 0px;
}

a {
    color: white;
}



/* portoflio elements below */

.page-heading {
    text-align: left;
    font-weight: bold;
    font-size: 46px;
    vertical-align: middle;
    padding-bottom: 30px;
    border-bottom: 1px solid green;
    margin-bottom: 40px;
    
}


.index-image {
    float: left;
    padding-right: 30px;
    padding-bottom: 20px;
}


/* spacing between images - when compressed window spacing is between each image */
.col-md-6 {
    padding-bottom: 40px;

}

.card-title {
    background-color: mediumaquamarine;
    opacity: 0.7;
    width: 100%;
    text-align: center;
    padding: 4px;
    
}

.btn {
    background-color: mediumaquamarine;
    color: #333;
}



@media screen and (max-width: 767.98px) {
    .navbar {
        display: block!important;
    }
    .navbar-text {
        display: block!important;
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }

    .nav-link {
        margin: 20px;
    }

    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }




@media (min-width: 992px){
    .navbar li {
        padding-left : 1em;
        padding-right : 1em;
    }
}