* {
    font-family: 'Julius Sans One', sans-serif;
}

.navbar-brand {
    background-color: lightgray;
    padding: 15px;
    color: #333;
    font-size: larger;
    font-weight: bold;

}


#about-spacing {
    padding-right: 20px;
    padding-left: 20px;
}

#portfolio-spacing {
    padding-right: 20px;
    padding-left: 20px;
}

#contact-spacing {
    padding-right: 20px;
    padding-left: 20px;
}


/* background colour and spacing of WHOLE navbar */
.navbar.navbar-expand-md {
    background-color: mediumaquamarine;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* class */
.nav-link {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}





/* space around content */
.container {
    background-color: lightgray;
    padding: 30px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.btn {
    background-color:lightgray;
    margin-left: 0px;
}

a {
    color: white;
}



/* portoflio elements below */

.page-heading {
    text-align: left;
    font-weight: bold;
    font-size: 46px;
    vertical-align: middle;
    padding-bottom: 30px;
    border-bottom: 1px solid green;
    margin-bottom: 40px;
    
}


.index-image {
    float: left;
    padding-right: 30px;
    padding-bottom: 20px;
}


/* spacing between images - when compressed window spacing is between each image */
.col-md-6 {
    padding-bottom: 40px;

}

.card-title {
    background-color: mediumaquamarine;
    opacity: 0.7;
    width: 100%;
    text-align: center;
    padding: 4px;
    
}

.btn {
    background-color: mediumaquamarine;
    color: #333;
}



@media screen and (max-width: 767.98px) {
    .navbar {
        display: block!important; 
        padding-left: 0px;
        padding-right: 0px;
    }
    .navbar-brand {
        display: block!important;
        margin-left: 0px;
        width: 100%;
        text-align: center;
    }
    
    #brand-width {
        width: 100%;
    }
    .navbar-nav {
        text-align: center;
        margin: 0 auto;      
    }

    #nav-center {
        width: 100%;
        text-align: center;
    }

    #about-spacing {
        padding-right: 20px;
        padding-left: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #portfolio-spacing {
        padding-right: 20px;
        padding-left: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #contact-spacing {
        padding-right: 20px;
        padding-left: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
}

    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }









|